body{
    margin: 0;
    background-color: hsl(229, 57%, 11%);
    background-image: url(../images/bg-desktop.png);
    background-repeat: no-repeat;
    background-position:100% 120%;
    background-size: contain;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: .875rem;
    font-family: 'Raleway', sans-serif;
}
main{
    display: flex;
    width: 50rem;
    column-gap: 2rem;
    margin: auto;
}
span{
    color: hsl(243, 100%, 93%);
}
.left-section{
    background-color: hsl(228, 56%, 26%);
    border-radius: .625rem 5rem .625rem .625rem;
    display: flex;
    flex-direction: column;
    width: 30%;
    padding:1.875rem;
    justify-content: space-evenly;
    row-gap: 1.25rem;
}

.logo{
    width: 70%;
}
.left-section-row{
    display: flex;
   column-gap: 1.25rem;
}
.left-section-icon{
    background-color:hsl(229, 57%, 11%) ;
    padding: .9rem;
    border-radius: .6rem;
}
.right-section{
    width: 70%;
    background-color: hsl(228, 56%, 26%);
    border-radius: .625rem ;
    position: relative;
    padding: 1.875rem;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    max-height: 5rem;
    margin-top: auto;
    color: hsl(229, 7%, 55%);
}
.right-section-div{
    display: flex;
    background-color: white;
    border-radius: .625rem;
    width: 22%;
    position: absolute;
    padding: 1rem;
    right: 2.5rem;
    top: -3rem;
    justify-content: space-between;
    color: black;
    column-gap: .5rem;
}
.right-section-div > h1, p{
    margin: 0;
}
.right-section-limit-text{
    display: flex;
    justify-content: space-between;
}
.right-section-limit-text{
    color: hsl(243, 100%, 93%);
}

progress {
    border-radius: 7px; 
    width: 95%;
    height: 1.2rem;
    margin: .5rem auto;
    box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 );
    

  }
  progress::-webkit-progress-bar {
    background-color: hsl(229, 57%, 11%);
    border-radius: 1rem;
    padding: .2rem;
  }
  progress::-webkit-progress-value {
    background-image: linear-gradient(to right, hsl(6, 100%, 80%) , hsl(335, 100%, 65%));
    border-radius: 1rem;
  }
  progress::-moz-progress-bar {
    /* style rules */
  }

@media screen and (max-width: 50rem) {
    body{
        margin: 0;
        background-color: hsl(229, 57%, 11%);
        background-image: url(../images/bg-mobile.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        min-height: 100vh;
        font-size: .875rem;
    }
    main{
        width: 25rem;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        row-gap: 2rem;
    }
    .left-section{
        width: 70%;
        margin: auto;
    }
    .logo{
        width: 50%;
    }
    .left-section-icon{
        padding: .9rem;
        border-radius: .6rem;
        width: .8rem;
    }
    .right-section-div{
        top: 5.5rem;
        right: 7rem;
        width: 30%;
    }
    .right-section{
        max-height: 10rem;
        margin: auto;
    }
}